@model IEnumerable<RoKa.Models.rk_reglasdecritica>

@{
    ViewBag.Title = "Index";
}

<h2>Reglas de Critica</h2>

<p>
    @*
    @Html.ActionLink("Create New", "Create")
    *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rk_departamento.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rk_municipio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rk_pais.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rk_servicio.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consumoinicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.consumofinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajearriba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.porcentajeabajo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rk_departamento.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rk_municipio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rk_pais.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rk_servicio.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consumoinicial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.consumofinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajearriba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeabajo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idreglascritica }) |
            @Html.ActionLink("Details", "Details", new { id=item.idreglascritica }) |
            @*@Html.ActionLink("Delete", "Delete", new { id = item.idreglascritica })*@
        </td>
    </tr>
}

</table>
