@model RoKa.Models.rk_tecnico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>rk_tecnico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rk_departamento.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rk_departamento.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rk_municipio.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rk_municipio.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rk_pais.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rk_pais.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtecnico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
